  h1 {
    font-family: "Times New Roman", Georgia, serif;
    text-align: center;
  }
  article {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  
    }
    
  p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: rgb(33, 33, 33 ); /* There area few ways to do colour...*/
  background-color: #eeeeee; 
  }

  