@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
  
@font-face
  {
    font-family: 'JetBrains Mono';
    src: url('../Fonts/JetBrainsMono-Regular.ttf');
    src: url('../Fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face
  {
    font-family: 'JetBrains Mono';
    src: url('../Fonts/JetBrainsMono-Bold.ttf');
    src: url('../Fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face
  {
    font-family: 'JetBrains Mono';
    src: url('../Fonts/JetBrainsMono-Bold-Italic.ttf');
    src: url('../Fonts/JetBrainsMono-Bold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;/* content of box*/
    
  }
  code 
  {
    white-space: pre; /* format */
    font-family: 'JetBrains Mono', Consolas,
    monospace; /* order font */
  }

  #happy-practice{
    float: left;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 0;
    /* margin: 0 16px 16px 0; */
  }
  #z-index-practice {
    display: block; /* image is block to add more options */
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1; /* visual layering think photoshop element should 
    appear on top */
  }
  body {
    background-image: url('../img/winter.jpg');
    background-size: cover;        /*cover the whole element*/
    background-repeat: no-repeat;  /*show one of the image, instead of limited titles.*/
    background-position: center;   /*can also bo co-ordinates like 50 px 75px*/
    background-attachment: fixed;  /* fix backgroud */

  }
  h1 h2 h4, h5, h6 {
    font-family: "Times New Roman", Georgia, serif;
    text-align: center;
    padding-top: 50px;
    font-size: 46px;
  }
  h1 {
    font-family: 'JetBrains Mono', Consolas, monospace;
    text-align: center;
    padding-top: 50px;
    font-size: 100px;
  }
  h2 {
    font-family: 'Trade Winds';
    font-size: 32px;
    padding: 16px;
  }
nav {
    width: auto;
    max-width: 500px;  
    background-color: salmon;
    margin: 16px auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;

    }

nav ul {
  text-align: center;  
  padding: 0;
    }
  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    text-decoration: none; /* Disable the underline */
    display: inline-block;
    padding: 16px 32px; /* vertical horizantal*/
  }
  nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    background-color: rgb(50, 50, 50);
    color: #fff;
  }

  article {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  
    }
    
  p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: rgb(33, 33, 33 ); /* There area few ways to do colour...*/
  background-color: none; 
  }

  /* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

  .hide-me {
    list-style: none;
    height: 0;
  }

  .overflow-scroll {
    overflow: scroll;
    height: 35px;
  }
  
  .overflow-visible { /*visiblity for button*/
    overflow: visible;
    height: 35px;
  }

  #background-bullets, #background-images {
    list-style: none;
    margin:16px auto;
    
  }
  #background-bullets li {
    background-image: url('../img/p.jpg');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 10px 10px;
    padding: 16px 16px 16px 64px;
    
  }
  #background-images {
    list-style: none;
  }
  #image-bullets li 
  {
    position: relative;
    padding: 8px 8px 8px 64px;
    
  }
  #image-bullets li img 
  {
    position: absolute;
    width: 32px;
    height: 32;
    top: 20;
    left: 0;
  }
  #social-media-links 
  {
    list-style: none;
    text-align: center;
  }
  #social-media-links > li /* direct child selector ">", the li must be directly inside the element with the "social-media-links" id in this case */
  {
    display: inline-block;
  }
  #social-media-links .fab
  {
    font-size: 55px;
    color: rgba(50, 50, 50, 0.5);
  }
  #social-media-links a:hover .fab, 
  #social-media-links a:focus .fab, 
  #social-media-links a:active .fab /* pseudo selector with nesting */
  {
    color: black;

  }

  @media screen and (min-width: 500px) 
  {
    h1 {
    font-size: 64px;
      }
  h2 {
    font-size: 32px;
    }
  h3 {
    font-size: 28px;
    }
  }